      <!-- Your banner code -->
      <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/background.jpg');">
        <div class="banner-content">
          <h1> WELCOME HOME </h1>
          <p> Rent unique places to stay from local hosts in 190+ countries. </p>
          <a class="btn btn-primary btn-lg"> How it works </a>
        </div>
      </div>

      <!-- Your features code -->
      <div class="text-center padded features">
        <img src="images/globe.png" alt>
        <h2> Discover the world </h2>
        <p> The earth is your new home </p>
        <img src="images/dollar.png" alt>
        <h2> Pay online </h2>
        <p> No cash issues anymore. </p>
        <img src="images/beer.png" alt>
        <h2> Meet people </h2>
        <p> Discover new culture and lifestyle </p>
        <img src="images/heart.png" alt>
        <h2> Share and love </h2>
        <p> Join a community you will love. </p>
      </div>

      <!-- Your newsletter code -->

      <div class="text-center padded" id="newsletter">
        <h2> Get news from us </h2>
        <p> Leave us your mail and get news from us </p>
        <form class="form-inline">
          <input type="email" placeholder="bob@gmail.com" class="form-control">
          <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
        </form>
      </div>

      <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
    </html>
